*:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -tap-highlight-color: rgba(0,0,0,0);
}
:-webkit-full-screen #controls-container,
:-moz-full-screen #controls-container,
:-ms-fullscreen #controls-container,

body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
}
/*<script type="text/javascript" src="../../dist/b4w.js"></script>

    <script type="text/javascript" src="../../dist/uranium/uranium.js"></script>
    <script type="text/javascript" src="../../dist/uranium/uranium.js.mem"></script>
    <script type="text/javascript" src="../../dist/uranium/uranium_wasm.js"></script>
    <script type="text/javascript" src="../../dist/uranium/uranium_wasm.wasm"></script>

    <script type="text/javascript" src="my_project.js"></script>
*/
/*величина экрана     <script type="text/javascript" src="..\..\dist\b4w.js"></script>*/
#main_canvas_container {
    position: absolute;
    left: 180px;
    top: 90px;
    width: 75%;
    height: 75%;
}
div#prelod_static_path {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 395px;
    height: 54px;
    margin-left: -197px;
    margin-top: -75px;
}

div#prelod_dynamic_path {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-image: url(./assets/poloska.png);
}

div#preloader_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(./assets/logo.png);
    background-color: #171717;
    background-repeat: no-repeat;
    background-position: center center;
    visibility: hidden;
}

#controls-container {
    display: none;
    position: fixed;
    bottom: 1%;
    width: 99%;
    z-index: 1;
    pointer-events: none;
}

#exit {
    position: fixed;
    left: 160px;
    top: 60px;
    width: 15%;
    height: 12%;
}

.button.data-button#exit {
    width: 100px;
    height: 80px;
    background-image: url("./assets/Balls/Exit02.png");
    background-size: contain;
    background-position: right 5px;
    background-position: top 5px;
}
    #controls-container.bottom-line.button-container {

        height: 625px;
        width: 95px;
        background-color: rgb(25, 70, 272);
        /* #ffefd5;  */

        float: right;
        opacity: 1.0; /*это €ркость: было 0.8*/

    }
/*#controls-container, #button-container {
    z-index: 10;
    pointer-events: auto; 
}*/
.button-container {
    display: table;
    margin: auto;
    height: 100px;
}

.button {
    float: left;
    height: 100%;
    cursor: pointer;
    background-repeat: no-repeat;
    pointer-events: auto;
}



.data-button {
    /*width: 100px;
    height: 95px;*/
    width: 50px;
    height: 50px;
    background-image: url("./assets/Balls/Emblem05.png");
    background-size: contain;
}
    .data-button::after {
        content: "";
        /*color: blue;*/
    }

    .data-button::before {
        content: "";
        /*color: red*/
        display: none;
    }

    .data-button.show-before::before {
        display: inline;
    }

    .data-button.show-before::after {
        display: none;
    }

    .data-button:not(.delete-container):before {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        margin: 0 -8px -8px 0;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .data-button#load-1 {
        /*width: 90px;
        height: 85px;*/
        width: 45px;
        height: 45px;
        background-image: url("./assets/Balls/New Game.png");
        background-size: contain;
        background-position: right 5px;
        background-position: top 5px;
    }
    .data-button#load-2:before {
        /*width: 90px;
        height: 85px;*/
        width: 45px;
        height: 45px;
        background-image: url("./assets/Balls/BBall00X_Inv.png");
        background-size: contain;
        background-position: right 5px;
        background-position: top 5px;
    }

    .data-button#load-3:before {
        /*width: 90px;
        height: 85px;*/
        width: 45px;
        height: 45px;
        background-image: url("./assets/Balls/BBall011_Inv.png");
        background-size: contain;
        background-position: right 5px;
        background-position: top 5px;
    }

    .data-button#load-4:before {
        /*width: 90px;
        height: 85px;*/
        width: 45px;
        height: 45px;
        background-image: url("./assets/Balls/BBall02X_Inv.png");
        background-size: contain;
        background-position: right 5px;
        background-position: top 5px;
    }

    .data-button#load-5:before {
        /*width: 90px;
        height: 85px;*/
        width: 45px;
        height: 45px;
        background-image: url("./assets/Balls/BBall06X_Inv.png");
        background-size: contain;
        background-position: right 5px;
        background-position: top 5px;
    }

    .data-button#load-6:before {
        /*width: 90px;
        height: 85px;*/
        width: 45px;
        height: 45px;
        background-image: url("./assets/Balls/BBall08X_Inv.png");
        background-size: contain;
        background-position: right 5px;
        background-position: top 5px;
    }

    .data-button#load-7 {
        /*width: 90px;
        height: 85px;*/
        width: 45px;
        height: 45px;
        background-image: url("./assets/Balls/full_scr.png");
        background-size: contain;
        background-position: right 5px;
        background-position: top 5px;
    }






