*:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -tap-highlight-color: rgba(0,0,0,0);
}
:-webkit-full-screen #controls-container,
:-moz-full-screen #controls-container,
:-ms-fullscreen #controls-container,

body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

#main_canvas_container {
    position: absolute;
    left: 180px;
    top: 90px;
    width: 75%;
    height: 75%;
}
img {
    position: absolute;
    left: 250px;
    top: 100px;
}
.text-center {
  text-align: center;
}

#continue {
    position: absolute;
    left: 180px;
    top: 120px;
}

    